// HEADER
header {
  background-color: $main-color;
  color: $light-font-color;
  padding: 0.5rem 2rem;
  font-family: "Montserrat", sans-serif;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
  }
  h3 {
    font-size: 0.7rem;
    padding: 0 0 0 0.5rem;
    font-weight: 200;
  }
}

// FOOTER NAVBAR
footer {
  background-color: $main-color;
  width: 100%;

  ul {
    list-style-type: none;
  }
  li {
    font-size: $default-font-size;
    padding: 0.5rem;
  }

  p {
    font-size: 12px;
    padding: 0.5rem 0 0 0;
  }
}
