@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

// HEADER
header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

// FOOTER NAVBAR
footer {
  ul {
    @include flex;
    justify-content: space-around;
  }
  li a {
    @include flex(column);
    align-items: center;
  }
  position: fixed;
  bottom: 0px;
}

// GENERAL LAYOUT
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: [header-start] 100px [header-end] auto [footer-start] 75px [footer-end];
  gap: 10px;
  position: relative;
  .grid-child {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
  }
}

// HOMEPAGE
.homepage {
  img {
    max-width: 100%;
  }
}

// MENU
.menu {
  img {
    max-width: 100%;
  }
  .flex-container {
    @include flex(column);
  }
}

// LAPTOP LAYOUT
@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .grid-child {
    margin: 0 20%;
  }
}

// DESKTOP LAYOUT
@media only screen and (min-width: 1025px) {
  .grid-child {
    margin: 0 35%;
  }
}
