@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

// HEADER
header {
  position: fixed;
  width: 100%;
}

// FOOTER NAVBAR
footer {
  ul {
    @include flex;
    justify-content: space-around;
  }
  li a {
    @include flex(column);
    align-items: center;
  }
  position: fixed;
  bottom: 0px;
}

// HOMEPAGE
.homepage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: [header-start] 75px [header-end] auto [footer-start] 75px [footer-end];
  gap: 10px;
  position: relative;

  img {
    max-width: 100%;
  }

  main {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
  }
}
