// COLORS
$main-color: #171717;
$secondary-color: #e84545;
$light-background-color: #ededed;
$light-font-color: #cdcdcd;
$dark-font-color: #292929;

// FONTS
$default-font-size: 16px;
$secondary-font-size: 14px;
$header-font-size: 20px;
