@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #cdcdcd;
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  color: #cdcdcd;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

footer {
  position: fixed;
  bottom: 0px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: [header-start] 100px [header-end] auto [footer-start] 75px [footer-end];
      grid-template-rows: [header-start] 100px [header-end] auto [footer-start] 75px [footer-end];
  gap: 10px;
  position: relative;
}

.grid-container .grid-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.homepage img {
  max-width: 100%;
}

.menu img {
  max-width: 100%;
}

.menu .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .grid-child {
    margin: 0 20%;
  }
}

@media only screen and (min-width: 1025px) {
  .grid-child {
    margin: 0 35%;
  }
}

header {
  background-color: #171717;
  color: #cdcdcd;
  padding: 0.5rem 2rem;
  font-family: "Montserrat", sans-serif;
}

header h2 {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
}

header h3 {
  font-size: 0.7rem;
  padding: 0 0 0 0.5rem;
  font-weight: 200;
}

footer {
  background-color: #171717;
  width: 100%;
}

footer ul {
  list-style-type: none;
}

footer li {
  font-size: 16px;
  padding: 0.5rem;
}

footer p {
  font-size: 12px;
  padding: 0.5rem 0 0 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.homepage main h2 {
  font-size: 20px;
}

.homepage main .card {
  background-color: #ededed;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 2.5%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.homepage main .card img {
  border-radius: 5%;
}

.homepage main .card h3 {
  font-size: 20px;
  padding: 1.5rem 0 0 0;
}

.homepage main .card p {
  font-size: 14px;
  padding: 0.25rem 0 0 0;
}

.menu main h2 {
  font-size: 20px;
  padding: 0 0 1.5rem 0;
}

.menu input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.menu .tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.menu .tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background: #f54748;
  font-weight: bold;
  cursor: pointer;
}

.menu .tab-label:hover {
  background: #f21718;
}

.menu .tab-label::after {
  content: "\276F";
  width: 1rem;
  height: 1rem;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.menu .tab-content {
  max-height: 0;
  padding: 0 1rem;
  color: #171717;
  background: #ededed;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.menu .tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  font-size: 0.75rem;
  background: #f54748;
  cursor: pointer;
}

.menu .tab-close:hover {
  background: #f21718;
}

.menu input:checked + .tab-label {
  background: #f21718;
}

.menu input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu input:checked ~ .tab-content {
  max-height: 5000px;
  padding: 1.5rem;
}

.menu .menu-content img {
  border-radius: 10px;
}

.menu .menu-content h3 {
  font-size: 20px;
  padding: 0.5rem 0 0.25rem 0;
}

.menu .menu-content .price {
  font-size: 20px;
}

.menu .menu-content .description {
  font-size: 14px;
  padding: 0.5rem 0 2rem 0;
}
/*# sourceMappingURL=main.css.map */