@import "_reset.scss";
@import "_variables.scss";
@import "_layout.scss";
@import "_components.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: $default-font-size;
  color: $dark-font-color;
}

// HOMEPAGE
.homepage main {
  h2 {
    font-size: $header-font-size;
  }

  .card {
    background-color: $light-background-color;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: 2.5%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    img {
      border-radius: 5%;
    }

    h3 {
      font-size: $header-font-size;
      padding: 1.5rem 0 0 0;
    }

    p {
      font-size: $secondary-font-size;
      padding: 0.25rem 0 0 0;
    }
  }
}
